/Capitulo12/ExamenJSP/nbproject/private/
/Capitulo12/ExamenJSP/build/
/Capitulo12/ExamenJSP/dist/
/Capitulo12/ExamenPrueba/nbproject/private/
/Capitulo12/ExamenPrueba/build/
/Capitulo12/ExamenPrueba1/nbproject/private/
/Capitulo12/ExamenPrueba1/build/
/Capitulo12/Funciona/nbproject/private/
/Capitulo12/Funciona/build/
