/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 abr. 2021, 13:27:26
    Author     : root
*/

body{
  box-sizing: border-box;
}

table{
  border-collapse: collapse;
  margin: 20vh auto;
}

td{
  border: solid 1px black;
  width: 40px;
  height: 40px;
  text-align: center;
}


